* {
    font-size: 1rem;
    box-sizing: border-box;
}

:root {
    --accent: #8b5cf6;
    --surface: #0a0a0a;
    --surface-2: #141414;
    --surface-3: #1f1f1f;
    --active: #303030;
    --inactive: var(--surface-2);
    --border: rgba(255, 255, 255, 0.15);
    --text: #e8e8e8;
    --text-muted: rgba(255, 255, 255, 0.5);
    --hover: rgba(255, 255, 255, 0.1);
    --danger: #681429;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--surface);
    color: var(--text);

    margin: 0;
}

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

svg path {
    fill: currentColor;
}

@media (max-width: 600px) {
    body {
        margin: 0;
        background: var(--surface-2);
    }
}